@import "tailwindcss";

@theme {
  --font-Inter: "Inter", sans-serif;
  --font-Roboto: "Roboto", sans-serif;
  --color-primary: #DF3636;
  --color-secondary: "#38435C";
  --color-gray: #A9B0B8;
  --breakpoint-xs: 375px;
}

.container {
  @apply  max-w-285  mx-auto px-3 xl:px-0;
}

.header-text {
  @apply xs:text-2xl md:text-4xl text-[56px] leading-tight font-Inter font-extrabold;
}

.title-text{
  @apply text-xs xs:text-base md:text-lg font-Roboto text-secondary ;
}

@layer footer{
  .address-card{
    @apply flex flex-col items-center text-center gap-2 capitalize  ; 
  }
  .address-title{
    @apply text-white font-semibold font-Roboto
  }
  .address-details{
    @apply text-gray font-Inter text-xs font-medium
  }
}

